/* здесь используйте глобальные переменные */

// Ширина для медиазапроса. Брейкпоинт для десктопа
$width-desktop: 1280px;

// Ширина для медиазапроса. Брейкпоинт для планшета
$width-tablet: 768px;

// Ширина для медиазапроса. Брейкпоинт для мобильного устройства
$width-mobile: 320px;

// Максимальная ширина
$max-width: 1920px;

// z-index header
$main-header--z-index: 2;
// z-index span для кнопок
$card-button__title--z-index: 2;
// z-index product-info у карточек товаров
$card-button__title--z-index: 2;

// font-size для заголовка карточки товара
$card-info__title--fs-normal: 24px;
$card-info__title--fs-small: 18px;
$card-info__title--fs-ex-small: 14px;

//font-size для доп. заголовка карточки товара
$card-info__sub-title--fs-normal: 17px;
$card-info__sub-title--fs-small: 12px;
$card-info__sub-title--fs-ex-small: 10px;

//font-size для доп. заголовка карточки товара
$card-info__compound-list--fs-normal: 17px;
$card-info__compound-list--fs-small: 14px;
$card-info__compound-list--fs-ex-small: 10px;
