/* здесь используйте глобальные переменные */

// Ширина для медиазапроса. Брейкпоинт для десктопа
$width-desktop: 1280px;

// Ширина для медиазапроса. Брейкпоинт для планшета
$width-tablet: 768px;

// Ширина для медиазапроса. Брейкпоинт для мобильного устройства
$width-mobile: 320px;

// Максимальная ширина
$max-width: 1920px;

// z-index header

$main-header--z-index: 2

